html,
body {
  padding: 0;
  margin: 0;
  font-family: THSarabunPSK;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: rgb(255, 255, 255);
  }
  body {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
  }
}
